*.c linguist-language=Python 
*.h linguist-language=Python 
*.cpp linguist-language=Python 
*.hpp linguist-language=Python
*.css linguist-language=Python 
RpiSrc/venv/
RpiSrc/.idea/
RpiSrc/__pycache__/